[submodule "Early Math Prototype Player/Early-Math-Prototypes"]
	path = Early Math Prototype Player/Early-Math-Prototypes
	url = git@github.com:Khan/Early-Math-Prototypes.git
[submodule "Prototope"]
	path = Prototope
	url = git@github.com:Khan/Prototope.git
[submodule "ThirdParty/MMMarkdown"]
	path = ThirdParty/MMMarkdown
	url = https://github.com/mdiep/MMMarkdown
[submodule "ThirdParty/FLAnimatedImage"]
	path = ThirdParty/FLAnimatedImage
	url = https://github.com/Flipboard/FLAnimatedImage.git
